﻿* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Sans-serif;
  background: #2c3e50;
}

p{
  margin-top:10px;
}

#wrap {
  margin: 0 auto;
}

#regbar {
  height: 67px;
  background: #34495e;
}

#navthing {
  margin-left: 10%;
}
#spin {
    text-align:center;
	margin-left:0%;
	margin-top:5%;
}
#results {
    text-align:center;
	margin-left:0%;
	margin-top:20%x;
}



h2 {
  padding: 20px;
  color: #ecf0f1;
}

fieldset {
  border: none;
}

.login {
  position: relative;
  width: 350px;
  display: none;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid #ECF0F1;
  left: 10%;
  position: absolute;
  top: -10px;
}

.formholder {
  background: #ecf0f1;
  width: 100%;
  border-radius: 5px;
  padding-top: 5px;
}
.formholder input[type=text]{
  padding: 7px 5px;
  margin: 10px 0;
  width: 96%;
  display: block;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  }
.formholder input[type=text]:focus{
  outline: none;
  box-shadow: 0 0 1px 1px #1abc9c;
}
.formholder input[type=submit]  {
  background: #1abc9c;
  padding: 10px;
  font-size: 30px;
  display: block;
  width: 100%;
  height: 60px;
  border: none;
  color: #fff;
  border-radius: 5px;
}
.formholder input[type=submit]:hover {
  background: #1bc6a4;
}

.formholder2 input[type=text]{
  padding: 7px 10px;
  margin: 10px 0;
  width: 90%;
  height: 40px;
  font-size: 24px;
  color: #000;
  text-align: "center";
  border: none;
  border-radius: 5px;
}

.formholder2 textarea{
  padding: 7px 10px;
  margin: 10px 0;
  width: 90%;
  height: 100px;
  font-size: 24px;
  color: #000;
  text-align: "center";
  border: none;
  border-radius: 5px;
}

.randompad {
  padding: 10px;
}

.green {
  color: #1abc9c;
}

a {
  color: #ecf0f1;
  text-decoration: none;
}
a:hover {
  color: #1abc9c;
}

#add_player_button {
  font-size: 25px;
  height: 40px;
}
#no_button {
  background: #f05050 !important;
}
#no_button:hover {
  background: #f06060;
}
#no_button:active {
  background: #f05050;
}
#what_button {
  background: #e0b040 !important;
}
#what_button:hover {
  background: #f0c040;
}
#what_button:active {
  background: #e0b040;
}
